################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccountingManager/bin/Debug/MasterData.txt
